@import "tailwindcss";



:root {
  --background: 27 27 27;
  --foreground: 225 225 225;
  --muted: 115 115 115;
  --accent: 254 254 91;
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes move {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(100px,100px);
  }
  
}
/* body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
} */